*{
    box-sizing: border-box;
    color: black;
}

body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: space-between;
}

html{
    background-color: #f0a202;
}

/*.navbar{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    !*justify-content: flex-start;*!*/
/*    width: 5em;*/

/*}*/

/*.nav-item{*/
/*    padding: 1em;*/
/*    */
/*}*/



ul{
    display: flex;
}
ul *{
    padding: 1em;
    list-style-type: none;
    text-decoration: none;
    position: relative;
}

#navbar{
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
}

figcaption{
    text-align: center;
}

footer{
    text-align: center;
    margin: 5em;
}

img{
    text-align: center;
}

#main{
    margin: 5em;
}