/*OVERALL DOCUMENT STYLING*/

*{
    box-sizing: border-box;
    color: black;
}

body{
    width:75%;
    margin: 2em auto;
    background-color: #fcfaee;
}

html{
    background-color: #f5f0cc;
}

/*HEADER STYLING*/

.header{
    display: flex;
    background-color: #b2d3a8;
    flex-wrap: wrap;
}

.name-box{
    width: 30%;
    background-color: #e7f1e4;
    align-items: flex-end;
    display: flex;
    padding: 1em;
}

.executive-summary{
    width: 70%;
    padding-left: 1em;
}
/*END OF HEADER STYLING*/

/*MAIN CONTAINER STYLING*/

.main-container{
    display: flex;
}

/*LEFT COLUMN STYLING*/

.left-column{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1em;
    background-color: #b2d3a8;
}

/*EDUCATION ITEMS STYLING*/

.education-item h4{
    margin-bottom: 0;
}

/*RIGHT COLUMN STYLING*/

.right-column{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1em;
    background-color: #e7f1e4;
}

.achievements h5{
    margin: .5em auto;
}
.achievements p{
    margin-top: .5em;
}

/*STYLING FOR HRs*/

hr{
    border: 1px solid #558745;
    width: 75%;
}

/*MEDIA QUERIES*/

@media screen and (max-width:1020px) {


body{
    margin: 0 0;
    width: 100%;
}

.main-container{
    flex-direction: column;
}

.left-column{
    width: 100%;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

.right-column{
    width: 100%;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    flex-direction: column;
    text-align: center;
}

.name-box, .executive-summary{
    width: 100%;
    justify-content: center;
}

.executive-summary{
    padding-right: 1em;
}

}




