div{
    border: 1px solid black;
    height: 5em;
    margin: 2em auto;
}

#navbar{
    display: flex;
    justify-content: flex-end;
}

#navbar ul{
    /*make the navbar ul itself a flexbox*/
    display: flex;
    list-style-type: none;
}

#navbar ul a{
    padding: 1em;
    text-decoration: none;
    /*//very important for centering vertically*/
    display: inline-block;
}
/*basic inline navbar with flex*/
#first-div{
    display: flex;
    align-items: flex-end;
    /*flex-direction: column;*/
    justify-content: flex-end;
    align-content: center;
}



