*{
    box-sizing: border-box;
    color: black;
}

body{
    margin: 0;
}

html{
    background-color: #d5a18e;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid #3a4f41;
    background-color: #b9314f;
    position: fixed;
    width: 100%;

}

.nav-content{
    display: flex;
}

.nav-content *{
    padding: 1em;
}

.nav-item:hover{
    transform: rotate(1080deg);
    transition: 1s;

}

.nav-item a{
    position: relative;
    text-decoration: none;
}

.nav-item a:active{
    top: 2px;
}

.nav-item a:hover{
    font-size: xx-large;
    color: blue;
    transition: 1s;
    /*transform: rotate(45deg);*/
}

/*end of navbar css*/

.card-container{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid blue;
    padding: 15px;

}

.card{
    display: flex;
    flex-direction: column;
    background-color: #53f4ff;
    border: 2px solid green;
    text-align: center;
    font-family: "Apple Chancery", sans-serif;
    border-radius: 5px;
}

/*.card:hover{*/
/*    transform: rotate(90deg);*/
/*}*/

.card img{
    height: 200px;
    margin-top: 1em;
    border-radius: 5px;

}

h1{
    text-align: center;
    color: purple;
    font-family: "Apple Chancery", sans-serif;
    padding-top: 1.5em;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.icons a{
    text-decoration: none;
    padding: 1em;
}

.icons a:hover{
    color: #b9314f;
}

/*.icons a:hover{*/
/*    background-color: #b9314f;*/
/*}*/

.card a{
    text-decoration: none;
}

.footer{
    text-align: center;
    font-family: "Apple Chancery", sans-serif;
    font-size: 5em;
    width: 75%;
    margin: 0 auto;
    background-color: #dec3be;
}

.footer h2{
    margin: 0 auto;
}

.footer p{
    font-size: large;
}

hr{
    border: 1px solid #3a4f41;
    width: 50%;
}

.tag-line{
    text-align: center;
}